<h1>Books#index</h1>

<% if @books.blank? %>
<p>There are not any books currently in the system.</p>
<% else %>
<table border="1">
<% @books.each do |t| %>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Publish Date</th>
    <th>The Number Of Pages</th>
    <th>Rating Score</th>
  </tr>
  <tr>
    <td><%= t.title%></td>
    <td><%= t.author%></td>
    <td><%= t.publish_date %></td>
    <td><%= t.the_number_of_pages%></td>
    <td><%= t.rating_score%></td>
  </tr>
  <%end%>
</table>
<% end %>
<%= link_to 'Create new Book', new_book_path %>
